
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="/styles.css" type="text/html" >
        <link rel="shortcut icon" href="">
        <base href="/">
        
    </head>

    <body>

        <header>
            <div class="">
                Udacity
            </div>
            <div class="">
                Project: Evaluate a News Article with NLP
            </div>
        </header>

        <main>

            <p>Natural language processing (NLP) is a subfield of linguistics, computer science, 
                information engineering, and artificial intelligence concerned with the interactions 
                between computers and human (natural) languages, in particular how to program computers 
                to process and analyze large amounts of natural language data.
              Challenges in natural language processing frequently involve speech recognition, 
              natural language understanding, and natural language generation.</p>

            <p>AYLIEN's Text Analysis Platform (TAP) offers a platform for developing complete natural 
                language processing models that can be made to perform classification, sentiment analysis,
                and entity extraction of text-based content all within the users browser. TAP allows users
                to build, train, evaluate, and deploy natural language processing models that are optimized
                through machine learning and artificial intelligence</p>
                
                <section>
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input id="url" type="text" name="input" value="" placeholder="Valid Url" required>
                        <div id="error">Please enter a valid URL to an article</div>
                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="Client.handleSubmit(event)">
                    </form>
                    <section>
        
                        <section>
                            <strong>Form Results:</strong>
                            <div id="results">
                                <div id="polarity"></div>
                                <div id="pol-confidence"></div>
                                <div id="subjectivity"></div>
                                <div id="sub-confidence"></div>
                            </div>
                        </section>
        </main>

        <footer>
            <p>AYLIEN's Natural Language Processing</p>
        </footer>

        
        `<script>

if ('serviceWorker' in navigator) {

window.addEventListener('load', () => {

navigator.serviceWorker.register('/service-worker.js');

});

}</script>`
            
    

    </body>
</html>